/**
 * SASS Variables
 **/

// Colours
// $ark-blue: #3E8ACC;
$ark-blue: #1f476b;
$ark-pink: #ED217C;
$ark-green: #39B54A;
$ark-yellow: #FCB040;
$ark-grey: #676470;

// Fonts
$font: 'Roboto', sans-serif;
$font-alt: 'Varela Round', sans-serif;